.points {
    display: flex;
    height: 100%;
    max-height: 100%;
    min-height: 100%;

    &__filter {
        min-width: 300px;
        width: 20%;
    }

    &__map {
        width: 80%;
    }
}
